body {
    margin: 0 auto;
    border: 2px;
    background: url(home6.jpg);
    padding: 5px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 800px;
    color: white;
}
h1 {
    text-align: center;
    background-color: rgb(81, 81, 221);
    width: 60%;
    margin: 10px auto;
}
img {
    width: 300px;
    height: 350px;
    float: right;
}
h2 {
    margin: 5px;
}
label {
    background-color: rgb(24, 130, 201);
}
div {
    padding: 10px;
}
span {
    margin-left: 45px;
}
button {
    margin: 20px;
}
.post {
    width: 45%;
    margin: 20px 45% 20px 0;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
button {
    background-color: rgb(119, 119, 241);
}

html {
    height: 100%;
}

h1{
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4)
                 0px 8px 13px rgba(0, 0, 0, 0.1)
                 0px 18px 23px white;
}

.content { 
 position: fixed; 
 bottom: 0; 
 background: rgba(0, 0, 0, 0.5); 
 color: #f1f1f1; 
 width: 100%; 
 padding: 20px; 
 margin: 0 auto; 
 }

select {

    width: 170px;

    height: 40px;

    font-size: 18px;

    background: #000;

    color: rgb(141, 37, 155);
}

#myBtn { 
 width: 200px; 
 font-size: 18px; 
 padding: 10px; 
 border: none; 
 background: #000; 
 color: #fff; 
 cursor: pointer; 
 float: left; 
 } 

#myBtn:hover { 
 background: #ddd; 
 color: black; 
 } 
